body {
    background-color: rgb(32, 31, 31);
    color: whitesmoke;
    margin: 0;
    font-family: sans-serif;
}

#root {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

/* Style actual lists */
ul {
    list-style-position: inside; /* Brings bullet closer to text */
    text-align: left;            /* Aligns text and bullet together */
}
li {
    margin: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list-item {
    margin-left: 10px;
    font-size: 1.1rem;
}

.nav-logo {
    width: 55px;
}