html, body {
  margin: 0;
}

header {
  background: rgb(218, 136, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
  margin-bottom: 1rem;
}

header > img {
  width: 24px;
  margin-right: 7px;
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article.journal-entry {
  display: flex;
}

.main-image {
  width: 125px;
}

.main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
}
/* Contact app styles */

article {
  padding: 0.5rem;
  margin: 1rem;
  margin-bottom: 0;
  border-radius: 2%;
  color: black;
  background-color: rgb(248, 244, 248);
}

.contact-container {
  display: flex; 
  gap: 1rem; 
  justify-content: center; 
  flex-wrap: wrap; 
  margin-bottom: 5rem;
}

.info-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.contact-card > img {
  width: 200px;
  height: 180px;
  border-radius: 2%;
}

.info-group > img {
  width: 20px;
  height: 18px;
  margin: 0;
}

article > h3 {
  margin: 0 0;
}
.info-group > p {
  margin: 0 0;
}

